asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
blinker==1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.5
cssselect==1.0.3
cycler==0.10.0
dill==0.2.8.2
docutils==0.14
dominate==2.3.5
enum34==1.1.6
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Moment==0.6.0
Flask-PyMongo==2.2.0
Flask-WTF==0.14.2
functools32==3.2.3.post2
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.1.0
matplotlib==2.2.2
mongoengine==0.16.2
numpy==1.14.3
pandas==0.23.0
parsel==1.5.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyJWT==1.7.1
pymongo==3.7.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-dotenv==0.10.1
pytz==2018.4
queuelib==1.5.0
recordtype==1.3
requests==2.18.4
selenium==3.141.0
service-identity==17.0.0
six==1.11.0
statistics==1.0.3.5
subprocess32==3.5.1
Twisted==18.9.0
urllib3==1.22
visitor==0.1.3
w3lib==1.19.0
Werkzeug==0.14.1
WTForms==2.2.1
XlsxWriter==1.0.5
zope.interface==4.6.0
