<!-- sub template -->
<!--suppress Annotator -->
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='requests.js') }}" ></script>
</head>

<tr class="clickable">
      <th scope="row">
          {{ moment(game.game_id[0]).format('llll') }}
          <button class="btn btn-primary pull-right" data-game="{{ game }}" type="button" data-toggle="collapse" id="game {{ id }}" data-target=".{{ id }}" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">+</button>
      </th> <!--TODO: format this time better, dynamic +/- based on collapse state-->
      <td>
          (H) {{ game.game_id[1] }} <!--HOME-- TODO: make the H & A light grey-->
          <br>
          (A) {{ game.game_id[2] }} <!--AWAY-->
      </td>
      <td>
          {{ make_odds_pretty(game.home_spread_cur[0]) }}, {{ make_odds_pretty(game.home_spread_cur[1]) }}
          <br>
          {{ make_odds_pretty(game.away_spread_cur[0]) }}, {{ make_odds_pretty(game.away_spread_cur[1]) }}
      </td>
      <td>
          {{ make_odds_pretty(game.home_ml_cur) }}
          <br>
          {{ make_odds_pretty(game.away_ml_cur) }}
      </td>
      <td>
          {{ make_odds_pretty(game.over_cur[0]) }}, {{ make_odds_pretty(game.over_cur[1]) }}
          <br>
          {{ make_odds_pretty(game.under_cur[0]) }}, {{ make_odds_pretty(game.under_cur[1]) }}
      </td>
      <tr class="collapse {{ id }}" id="collapse {{ id }}">
          <td colspan="5">
              <span id="span {{ id }}"></span>
          </td>
      </tr>
