{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}
        {{ title }} - Odds Tracker
    {% else %}
        Welcome to Odds Tracker
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse ">
            <div class="navbar-header"> <!--TODO: better collapse response -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar_collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.user', email=current_user.email) }}">Favorites</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='NFL') }}">NFL</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='NBA') }}">NBA</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='MLB') }}">MLB</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='NHL') }}">NHL</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='CFB') }}">CFB</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='CBB') }}">CBB</a></li>
                    <li><a href="{{ url_for('main.sport', cur_sport='Soccer') }}">Soccer</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.settings') }}">Settings</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
    <!-- popups -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css"
    rel="stylesheet" type="text/css">
<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>

{% endblock %}