{% extends "base.html" %}

{% block app_content %}
    <h1>{{ cur_sport }}</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
              <th scope="col">Date (Local Time)</th>
              <th scope="col">Teams</th>
              <th scope="col">Current Spread</th>
              <th scope="col">Current Moneyline</th>
              <th scope="col">Current Total</th>

            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                {% with id=loop.index %} {# TODO: figure out if this should be indexed 0 or not #}
                {% with cur_div=div[loop.index0] %}
                {% with script = script[loop.index0] %}
                    {% include '_game.html' %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}