<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='odds_fetch.js') }}" ></script>
</head>
{% extends "base.html" %}

{% block app_content %}
    <h1>{{ cur_sport }}</h1>
    <table class="table table-bordered table-hover" id="game_table">
        <thead>
            <tr>
              <th scope="col">Date (Local Time)</th>
              <th scope="col">Teams</th>
              <th scope="col">Current Spread</th>
              <th scope="col">Current Moneyline</th>
              <th scope="col">Current Total</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                {% with id=loop.index %} {# TODO: figure out if this should be indexed 0 or not #}
                    {% include '_game.html' %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}