{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.email }}!</h1>
    {% for sport in current_user.favorites.sports %}
        <p> {{ sport }} </p>
    {% endfor %}
    {% for team in current_user.favorites.teams %}
        <p> {{ team }} </p>
    {% endfor %}
    {% for game in games %}
        {% include '_game.html' %}
    {% endfor %}
<!-- TODO: format so it goes like this:
    also, if no games, display no games upcoming
    sport
        game 1
        game 2
    sport 2
        game 1
        game 2
    team 1
        game
    team 2
        game
    button w/ dropdown to remove favorites
        -->

<datalist id="fav_options">
    {% for item in mylist %}
    <option value="{{item}}">
    {% endfor %}
</datalist>
<form method="post" action="">
    <p>Select Favorite To Add</p>

    <input type="text" name="favorites" list="fav_options">
</form>

{% endblock %}
